{% extends 'base.html.twig' %}
{% block body %}

    <h1 class="mt-5">Payer</h1>
    <div id="paypal-button" style="margin-left: 25%; margin-top: 10%"></div>
    <div class="mt-5" style="text-align: center;">
        <a class="btn" href="{{ path('order_by_cheque') }}">Ou payer par chèque</a>
    </div>

    <script src="https://www.paypal.com/sdk/js?client-id=AYpaXxmkmYjXd6S0ScuMZMuVbCMqBxYJbCeIcuR7MBgtjwgO9r-UNAmY5x50meRdgYkGXOOnJ4_eXaqJ&disable-funding=credit,card&currency=EUR"></script>
    <script>
        paypal.Buttons({
            style :
            {
                shape: 'pill'
            },
            createOrder: function (data, actions)
            {
                return actions.order.create
                (
                    {
                        purchase_units :
                        [
                            {
                                amount:
                                {
                                    currency_code: 'EUR',
                                    value: "{{ total }}"
                                },
                                shipping:
                                {
                                    method: "La Poste",
                                    address:
                                    {
                                        address_line_1: "{{ line1 }}",
                                        address_line_2: "{{ line2 }}",
                                        admin_area_2: "{{ city }}",
                                        postal_code: "{{ postcode }}",
                                        country_code: "FR"
                                    }
                                }
                            }
                        ]
                    }
                );
            },
            onApprove: function (data, actions)
            {
                return actions.order.capture().then(function (details)
                {
                    window.location.replace("{{ path('order_succeeded') }}")
                })
            },
            onCancel: function (data)
            {
                window.location.replace("{{ path('order_cancelled') }}")
            }
        }).render('#paypal-button');

    </script>
{% endblock %}