{% extends 'base.html.twig' %}
{% block body %}
    <h1>{{ category.name }}</h1>
    <div class="container">
        <div class="row flex">
            {% for product in products %}
                <div class="col-3 mt-4">
                    <div class="card" style="width: 18rem;">
                        <img src="{{ asset('images/' ~ product.image) }}" class="card-img-top" alt="#">
                        <div class="card-body">
                            <h5 class="card-title">{{ product.name }}</h5>
                            <p class="card-text">{{ product.description }}</p>
                            <p class="price">{{ product.price }}€</p>
                            <a href="{{ path('show_product', {id: product.id}) }}" class="btn btn-primary">Voir le produit</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}