{% extends 'base.html.twig' %}
{% block body %}
    {% for product in all_products %}
        <div class="card" style="width: 18rem;">
            <img src="{{ asset('images/' ~ product.image) }}" class="card-img-top" alt="#">
            <div class="card-body">
                <h5 class="card-title">{{ product.name }}</h5>
                <p class="card-text">{{ product.description }}</p>
                <p class="price">{{ product.price }}€</p>
                <a href="{{ path('show_product', {id: product.id}) }}" class="btn btn-primary">Voir le produit</a>
            </div>
        </div>
    {% endfor %}
{% endblock %}